
body {
	padding: 20px 20px 60px 20px;
	font-family: 'Tajawal', sans-serif;
	color: #000000;	
	background-color: #f2f2f2;
}

h2{
	font-size: 70px;
}

#home{
	background-color: #ffffff;
}

#pempnome{
	margin: 0px;
	text-align: center;
}

#empnome{
	font-family: 'Bungee Inline', cursive;
	background: #6d7fcc;
	padding: 6px;
}

svg{
	margin-right: 5px !important;
}

.card{
	width: 18rem; 
	float: left; 
	margin:10px;
}

#trlabels{
    background: #17a2b8;
    color: #ffffff;
}

.sliderCont{
	align: center;
	width: 40%;
	
	
}

/* ---------------------------------------------------
    CONT
----------------------------------------------------- */

.container {
	border-radius: 15px;	
	background-color: #f2f2f2;
	width: 60%;
	padding: 20px;
	
}

.smcont{
	width: 40%;
	border: 2px solid #ffffff;
	background-color: #ffffff;
}

.cadcont{
	border: 2px solid #ffffff;
	background-color: #ffffff;
	padding:10px;
	

}


#homecont{
	
	width: 100%;
    padding: 40px;
    padding-top: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;
    min-height: 100vh;
    top: 10%;
	background-color: #ffffff;
	padding:15px; 
	overflow:hidden;
}

/* ---------------------------------------------------
    BUTTON
----------------------------------------------------- */
.ola{
	text-transform: capitalize;
}


#recibo{
	background-color:  #ffffe6;
	padding: 10px;
}

.btn-primary{
	background-color: #6d7fcc;
	border-color: #6d7fcc;

}

.btn-primary:disabled, .btn-primary:hover:disabled{
		background-color:#a6a6a6;
		border-color:#a6a6a6;
}

.btn-primary:hover{
	background-color:#17a2b8;
	border-color:#17a2b8;

}

.btn-secondary{
	background-color:#17a2b8;
	border-color:#17a2b8;

}

.btn-secondary:disabled, .btn-secondary:hover:disabled{
	background-color: #a6a6a6;
	border-color: #a6a6a6;

}

.btn-secondary:hover{
	background-color: #6d7fcc;
	border-color: #6d7fcc;

}

.btn-danger{
	background-color: #e65c00;
	border-color: #e65c00;

}

.btn-danger:disabled, .btn-danger:hover:disabled{
	background-color: #a6a6a6;
	border-color: #a6a6a6;

}

.btn-danger:hover{
	background-color: #ff8533;
	border-color: #ff8533;

}

/* ---------------------------------------------------
    Modal
----------------------------------------------------- */

input[type=checkbox] {
  transform: scale(1.5);
}

.containerModal{
	padding: 20px;
}

td, th{
	text-align: center;
}

th.thbtn{
	width: 1px;
}

.half-rule{
	margin: 0px;
	margin-bottom:10px;
}

.modal-footer {
  border-top: none;
}
/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #ffffff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #17a2b8;
    color: #ffffff;
    transition: all 0.3s;

}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #17a2b8;
}

#sidebar ul.components {
    padding: 20px 0;
    
}

#sidebar ul p {
    color: #ffffff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #ffffff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #ffffff;
    background: #148c9f;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #148c9f;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
    width: calc(100% - 250px);
    padding: 40px;
    padding-top: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.content.active {
    width: 100%;
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */

.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 25px;
   background-color: #e6e6e6;
   color: #b3b3b3;
   text-align: center;
   z-index: 999;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }




@media (max-width: 992px){
	.container{
		width: 100%;
		height: 80%;
	}
	
	.navbar-expand-lg .navbar-colapse {
		display: flex !important;
		flex-basics: auto;
	}

    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .content {
        width: 100%;
    }
    .content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}}




